h1,
h2 {
    color: White;
    font-family: 'Roboto Slab', serif;
}

body {
    margin-left: 10em;
    margin-right: 10em;
    font-family: helvetica;
    background-color: #7C2626
    
}

h2,
h3 {
    color: White;
}

p, ol{
    color: White;
    line-height: 2em;
}

table{
    border: solid;
    padding: 10px;
    background-color: #BFB48f;
}

head {
    background-color: black;
    position: absolute;
}

.headBar {
    display: inline-block;
    text-align: center;
    margin: 5px;
    margin-left: 6em;
    
}

#colorHeadBar {
    display: inline-block;
    line-height: 1em;
    margin-top: ;
    background-color: #BFB48f;
}

#logo {
    padding-left: 3em;
    padding-top: 3em;
    height: 5em;
    width: auto;
    position: relative;
    padding: .5em;
}

nav a {
    color: white;
    font-family: 'Roboto Slab', serif;
}


nav a:hover {
    color: red;
}

a {
    color: White;
    line-height: 1em;
    font-size: 15px;
}

a:hover {
    color: red;
}

img{
    border-color: #7C2626;
}
